In [2]:
import pandas as pd

In [121]:
path = "C:\\Users\\63141\\Desktop\\github_files_v2\\IPM frontend.xlsx"
front_end = pd.read_excel(path)

In [4]:
both_path = "C:\\Users\\63141\\Desktop\\github_files_v2\\both.xlsx"
both = pd.read_excel(both_path)

In [ ]:
# Match the both spreadsheet to match plant codes to IPM front end sheet

In [128]:
front_end = front_end.rename(columns= {'Plant':'Plant Name', "Capacity Sub-Type":"Technology"})
both = both.rename(columns= {'Plant Name_x':'Plant Name'})

In [15]:
plant_code_match = front_end.merge(both[['Plant Name', 'Plant Code']], on='Plant Name', how='left')

In [ ]:
IPM = plant_code_match.dropna(subset=['Plant Code'])

In [20]:
pc_path = "C:\\Users\\63141\\Desktop\\github_files_v2\\PC_for_IPM.xlsx"
IPM.to_excel(pc_path, index= False)

In [ ]:
# now doing a plant code match up from the fuzzy match R1

In [185]:
# renaming columns to match each other
# loading in the excel with the technology dictionary for the matching, change path
tech_dict_path = "C:\\Users\\63141\\Desktop\\github files\\tech-lookups.xlsx"
tech_dict_ipm = pd.read_excel(tech_dict_path, sheet_name = "IPM-FE")

In [186]:
tech_dict_ipm = tech_dict_ipm.applymap(lambda x: x.lower() if isinstance(x, str) else x)

C:\Users\63141\AppData\Local\Temp\ipykernel_22100\872924517.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  tech_dict_ipm = tech_dict_ipm.applymap(lambda x: x.lower() if isinstance(x, str) else x)

In [187]:
front_end_tech = pd.merge(front_end, tech_dict_ipm, how='left', on='Technology')

In [219]:

front_end_tech = front_end_tech.assign(key_column=front_end_tech['Plant Name1'].astype(str) + front_end_tech['Merged Capacity Types'].astype(str))

In [190]:
path1 = "C:\\Users\\63141\\Desktop\\github_files_v2\\Matching Different Methods v2.xlsx"
R1 = pd.read_excel(path1, sheet_name= 'R1')
R1 = R1.rename(columns= {'Plant Name_df2':'Plant Name1', "Merged Capacity Types_df2" : "Technology"})
R1 = R1.assign(key_column=R1['Plant Name1'].astype(str) + '_' + R1['Technology'].astype(str))
R1.drop('Plant Name', axis=1, inplace=True)

In [191]:
plant_code_matchR1 = front_end_tech.merge(R1[['key_column', 'Plant Code']], 
                                     on=['key_column'], 
                                     how='left')

In [193]:
plant_code_matchR1 = plant_code_matchR1.dropna(subset=['Plant Code'])

In [195]:
pc_pathR1 = "C:\\Users\\63141\\Desktop\\github_files_v2\\PC_for_IPMR1_v2.xlsx"
plant_code_matchR1.to_excel(pc_pathR1, index= False)

In [ ]:
# Doing the plant code match with R2

In [196]:
path2 = "C:\\Users\\63141\\Desktop\\github_files_v2\\Matching Different Methods v2.xlsx"
R2 = pd.read_excel(path1, sheet_name= 'R2')
R2 = R2.rename(columns= {'Plant Name_df2':'Plant Name1'})
R2.drop('Plant Name', axis=1, inplace=True)

In [197]:
R2 = R2.assign(key_column=R2['Plant Name1'].astype(str) + '_' + R1['Technology'].astype(str))

In [199]:
plant_code_matchR2 = front_end_tech.merge(R2[['key_column', 'Plant Code']], 
                                     on=['key_column'], 
                                     how='left')

In [200]:
plant_code_matchR2 = plant_code_matchR2.dropna(subset=['Plant Code'])

In [201]:
pc_pathR2 = "C:\\Users\\63141\\Desktop\\github_files_v2\\PC_for_IPMR2.xlsx"
plant_code_matchR2.to_excel(pc_pathR2, index= False)

In [ ]:
# Doing the plant code match with R3

In [221]:
path3 = "C:\\Users\\63141\\Desktop\\github_files_v2\\Matching Different Methods v2.xlsx"
R3 = pd.read_excel(path1, sheet_name= 'R3')
R3 = R3.rename(columns= {'Plant Name_df2':'Plant Name1','key_df2':'key_column'})
R3.drop('Plant Name', axis=1, inplace=True)

In [222]:
R3

,Plant Code,Merged Capacity Types,Net Summer Capacity (MW),State,Status,key,Cleaned Name,match_match_score,Plant Code_df2,Merged Capacity Types_df2,Plant Name1,Capacity Modeled,State_df2,On-Line Date,key_column,Cleaned Name_df2,Simple Delta,Percent Diff,Cap Test
0,159,hydro,1.0,ut,(op) operating,hydrolake creek dam,lake creek,100,3685,hydro,center creek,0.400,ut,1951-01-03,hydrocenter creek,creek,0.600,0.857143,NaN
1,1067,hydro,1.2,ia,(op) operating,hydroiowa hydro llc,iowa,100,1065,hydro,iowa falls,0.500,ia,1926-01-01,hydroiowa falls,iowa falls,0.700,0.823529,NaN
2,2861,combustion turbine,26.1,oh,(op) operating,combustion turbineniles power plant,niles,100,7579,combustion turbine,niles (oh niles),5.400,oh,1990-12-01,combustion turbineniles (oh niles),niles oh niles,20.700,1.314286,NaN
3,3675,hydro,1.4,ut,(op) operating,hydrohydro iii,3,100,7016,hydro,unit 3,0.100,ut,1993-06-01,hydrounit 3,unit 3,1.300,1.733333,NaN
4,7015,hydro,1.3,ut,(op) operating,hydrounit 4,unit 4,100,7133,hydro,hydro plant no 4,0.100,ut,1989-10-01,hydrohydro plant no 4,4,1.200,1.714286,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,65994,solar pv,3.0,ga,(op) operating,"solar pvpolk county ga s1, llc",polk county ga s1,100,0,solar pv,polk county solar_ga,200.000,ga,2024-04-01,solar pvpolk county solar_ga,polk county ga,-197.000,1.940887,NaN
132,65995,solar pv,3.0,ga,(op) operating,"solar pvreidsville renewables, inc.",reidsville s inc,100,0,solar pv,reidsville solar farm,3.000,ga,2022-07-31,solar pvreidsville solar farm,reidsville,0.000,0.000000,NaN
133,66711,solar pv,5.0,nc,(op) operating,solar pvclovelly solar,clovelly,100,0,solar pv,clovelly solar llc,5.000,nc,2022-01-01,solar pvclovelly solar llc,clovelly,0.000,0.000000,NaN
134,66720,solar pv,5.0,nc,(op) operating,solar pvoakwood solar,oakwood,100,0,solar pv,oakwood solar farm llc,4.996,nc,2021-05-12,solar pvoakwood solar farm llc,oakwood,0.004,0.000800,NaN
135,66986,solar pv,2.0,nc,(op) operating,"solar pvmule farm solar, llc",mule,100,0,solar pv,mule farm solar llc,2.000,nc,2023-05-31,solar pvmule farm solar llc,mule,0.000,0.000000,NaN

In [223]:
plant_code_matchR3 = front_end_tech.merge(R3[['key_column', 'Plant Code']], 
                                     on=['key_column'], 
                                     how='left')

In [224]:
plant_code_matchR3

,Plant Name1,Generator Number,Technology,Operating Utility,Reporting Capacity Type,Capacity Nameplate,Capacity Summer Dependable,Capacity Winter Dependable,Capacity Reserve Summer,Capacity Reserve Winter,...,Unnamed: 6_x,Merged Capacity Types_y,Unnamed: 2_y,Unnamed: 3_y,Unnamed: 4_y,Unnamed: 5_y,Unnamed: 6_y,Merged Capacity Types,key_column,Plant Code
0,rocky river (sc),1,hydro: hydro,abbeville sc (city of),NaN,1.8,1.8,1.8,1.26,1.26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,hydro,rocky river (sc)hydro,NaN
1,rocky river (sc),2,hydro: hydro,abbeville sc (city of),NaN,0.8,0.8,0.8,0.56,0.56,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,hydro,rocky river (sc)hydro,NaN
2,rocky river (sc),ic1,combustion turbine: combustion turbine,abbeville sc (city of),NaN,1.1,1.1,1.1,1.10,1.10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,combustion turbine,rocky river (sc)combustion turbine,NaN
3,tangier,3,combustion turbine: combustion turbine,a & n electric coop,NaN,0.7,0.6,0.6,0.60,0.60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,combustion turbine,tangiercombustion turbine,NaN
4,tangier,4,combustion turbine: combustion turbine,a & n electric coop,NaN,1.0,0.8,0.8,0.80,0.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,combustion turbine,tangiercombustion turbine,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29159,rggi24 nycac firm hydro zone c 2025,h1,hydro: hydro,unknown,NaN,108.0,108.0,108.0,0.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,hydro,rggi24 nycac firm hydro zone c 2025hydro,NaN
29160,rggi24 nycac firm hydro zone e 2025,h1,hydro: hydro,unknown,NaN,373.0,373.0,373.0,0.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,hydro,rggi24 nycac firm hydro zone e 2025hydro,NaN
29161,rggi24 nycac firm hydro zone d 2025,h1,hydro: hydro,unknown,NaN,916.0,916.0,916.0,0.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,hydro,rggi24 nycac firm hydro zone d 2025hydro,NaN
29162,rggi24 nycac firm hydro zone f 2025,h1,hydro: hydro,unknown,NaN,268.0,268.0,268.0,0.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,hydro,rggi24 nycac firm hydro zone f 2025hydro,NaN
29163,rggi24 nycac firm hydro zone ghi 2025,h1,hydro: hydro,unknown,NaN,268.0,268.0,268.0,0.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,hydro,rggi24 nycac firm hydro zone ghi 2025hydro,NaN

In [227]:
plant_code_matchR3 = plant_code_matchR3.dropna(subset=['Plant Code'])

In [228]:
plant_code_matchR3

Empty DataFrame
Columns: [Plant Name1, Generator Number, Technology, Operating Utility, Reporting Capacity Type, Capacity Nameplate, Capacity Summer Dependable, Capacity Winter Dependable, Capacity Reserve Summer, Capacity Reserve Winter, Cogen, Equivalent Forced Outage Rate (%), OnLine Date, Expected Retirement Date, Firm Retirement Date, Book Life Of Asset, Percent Turndown, Heat Rate (Btu/kWh), FirmHeatRate, Fixed O&M, Variable O&M, Index 5, Index 4, Index 3, Zone, Index 2, Index 1, EIAPlantCode, Master21, Unit Vintage, UniqueId, PenchantPlantId, VentyxUnitId, EntryDate, EIAGeneratorID, SNLUnitID, Merged Capacity Types_x, Unnamed: 2_x, Unnamed: 3_x, Unnamed: 4_x, Unnamed: 5_x, Unnamed: 6_x, Merged Capacity Types_y, Unnamed: 2_y, Unnamed: 3_y, Unnamed: 4_y, Unnamed: 5_y, Unnamed: 6_y, Merged Capacity Types, key_column, Plant Code]
Index: []

[0 rows x 51 columns]

In [226]:
pc_pathR3 = "C:\\Users\\63141\\Desktop\\github_files_v2\\PC_for_IPMR3.xlsx"
plant_code_matchR3.to_excel(pc_pathR3, index= False)